@font-face {
  font-family: "Aquatico";
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url("/assets/fonts/Aquatico-Regular.subset.ttf") format("truetype");
  src: url("/assets/fonts/Aquatico-Regular.subset.otf") format("otf");
  src: url("/assets/fonts/Aquatico-Regular.subset.woff2") format("woff2");
  unicode-range: U+0043,U+0049,U+0053,U+0043,U+004f,U+0050,U+0045,U+004d,U+0041;
  /* CISCOPEMA */
}

@font-face {
  font-family: "Lucida Grande";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/LucidaGrande.subset.ttf") format("truetype");
  src: url("/assets/fonts/LucidaGrande.subset.otf") format("otf");
  src: url("/assets/fonts/LucidaGrande.subset.woff2") format("woff2");
  unicode-range: U+0020-007E;
}

:root, ::backdrop {
  --h: 0;  /* Hue */
  --s: 0%; /* Sasturation */
  --ml: 98%; /* Main lightness */
  --bl: 0%; /* Background lightness */
  --main-color: hsl(var(--h), var(--s), var(--ml));
  --background-color: hsl(var(--h), var(--s), var(--bl));
  --font-family-primary: "Lucida Grande", system-ui;
  --font-family-secondary: "Aquatico", system-ui;
  --font-family-fallback: system-ui, sans-serif;

  height: 100%;
}

* { 
  font-family: inherit;
  box-sizing: border-box;
}


h1 {
  font-weight: normal;
  font-stretch: normal;
  font-size: min(3em, 10vw);
  letter-spacing: 4px;
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  color: var(--main-color);
  background-color: var(--background-color);
  height: 100%;
}

.background-image {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  z-index: -1;
}

main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  padding-block: 4em;
  padding-inline: 0.5em;
  min-height: 100%;
  gap: 3em;
  justify-content: space-between;
}

main > * {
  margin: 0;
}

main nav {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-block-start: auto;
}

#lang-switcher {
  position: absolute;
  top: 1em;
  right: 1em;
  border: none;
  width: min-content;  
  appearance: push-button;
  background-color: transparent;
  color: var(--main-color); 
}

.social-buttons a {
  padding: 6px 9px;
  display: inline-flex;
  margin: 2px;
}


.social-buttons img {
  height: 17px;
  margin: 2px;
  filter: invert(1);
}

#tour-dates {
  min-width: max-content;
  filter: drop-shadow(0px 0px 1em var(--background-color));
}

#tour-dates summary {
  width: max-content;
  margin: 0 auto;
  cursor: default;
}

.button, button, *::part(button) {
  padding: 0.6em 0.6em;
  border: 1px solid var(--main-color);
  border-radius: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  text-decoration: none;
  border-color: var(--main-color);
  opacity: 0.8;
  color: inherit;
  background-color: inherit;
}

.button:hover, button:hover {
  opacity: 1;
  text-decoration: none;
}

/* modal v2 */
dialog {
  background-color: transparent;
  border-radius: 1rem;
  color: inherit;
  font-family: system-ui;
  letter-spacing: 0.1px;
  max-width: 60ch;
}

dialog::backdrop {
  background-color: hsla(var(--h), var(--s), var(--bl), .5);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

dialog form {
  text-align: end;
}

dialog[open] {
  animation: dialog-show 300ms ease normal;
}

@keyframes dialog-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

tour-dates {
  font-family: var(--font-family-fallback);
  min-width: 250px;
  --border-lightness: var(--ml);
  --hover-lightness: var(--bl);
}

tour-dates::part(button) {
  font-family: var(--font-family-primary);
}