:root {
  --main-color: #fff;
  --background-color: #000;
  --background-image: url("/images/cover.jpg");
}

@font-face {
  font-family: "Aquatico";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Aquatico-Regular.otf") format("otf");
  src: url("fonts/Aquatico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lucida Grande";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/LucidaGrande.otf") format("otf");
  src: url("fonts/LucidaGrande.ttf") format("truetype");
}

/** 
 * Declare a "system" font family for picking the best possible local font-family 
 * https://github.com/csstools/system-font-css/blob/gh-pages/system-font.css
 **/
@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNS-Light"), local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}


* { 
  font-family: inherit;
  box-sizing: border-box;
}


h1 {
  font-weight: 100;
  font-stretch: normal;
  font-size: min(3em, 11vw);
  letter-spacing: 4px;
  font-family: "Aquatico", system-ui;
}

body {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: brightness(0.6);
  background-attachment: fixed;
  margin: 0;
  font-family: "Lucida Grande", system-ui;
  color: var(--main-color);
}

main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 4em;
  min-height: 100vh;
  gap: 2em;
}

main > * {
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: 3em;
}

main nav {
  display: flex;
  align-items: center;
  gap: 1em;
}

#lang-switcher {
  position: fixed;
  top: 1em;
  right: 1em;
  border: none;
  width: min-content;  
}

.social-buttons a {
  padding: 6px 9px;
  display: inline-grid;
  margin: 2px;
}


.social-buttons img {
  height: 17px;
  filter: invert(1);
  margin: 2px;
}

#tour-dates summary {
  width: max-content;
  margin: 0 auto;
  cursor: default;
}

.button, button {
  padding: 0.6em 0.6em;
  border: 1px solid #3d4260;
  border-radius: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: none;
  text-decoration: none;
  border-color: var(--main-color);
  opacity: 0.8;
  color: inherit;
  background-color: inherit;
}

.button:hover, button:hover {
  opacity: 1;
  text-decoration: none;
}

.button:active, button:active {
  filter: invert(1)
}


/* modal v2 */
dialog {
  color: inherit;
  border-radius: 1em;
  background-color: transparent;
  letter-spacing: 0.1px;
  font-family: system-ui;
  max-width: 60ch;
}

dialog button[value="close"] {
  float: inline-end;
}

dialog[open] {
  animation: show 300ms ease normal;

}

dialog::backdrop {
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(10px)
}

@keyframes show {
  from {
      opacity: 0;
  }
  to {
     opacity: 1;
  }
}