:root {
  --main-color: #FFF;
  --tablet: 768px;

}

@font-face
  font-family: "Aquatico"
  // font-style: normal
  // font-weight: 400
  src: url("../fonts/Aquatico-Regular.otf") format("otf")

@font-face
  font-family: 'Lucida Grande'
  // font-style: normal
  // font-weight: 400
  src: url("../fonts/LucidaGrande.ttf") format("truetype")
  src: url("../fonts/LucidaGrande.otf") format("otf")

// @import url('https://fonts.googleapis.com/css2?family=Telex&display=swap')

background-size()
  -webkit-background-size: arguments
  -moz-background-size: arguments
  -o-background-size: arguments
  background-size: arguments


html
  min-width: 335px  // Browsers add some default marging to body

*
  font-family: inherit

body
  background: url(/images/cover.jpg) no-repeat center center fixed
  // background: linear-gradient(to top, rgba(68,68,68,.6) 20%, rgba(0,0,0,.9) 100%), url(/images/cactus.jpg)
  background-size(cover)
  font-size: 1em
  
  font-family: "Lucida Grande", 'Telex'
  color: var(--main-color)
  margin: 0
  height: 100vh

  &:after 
    content: ""
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(0,0,0,0.3)
    z-index: -1


.bit-widget
  background: transparent !important
  *
    color: white !important


.container
  display: flex
  flex-flow column nowrap
  justify-content: center
  align-items: center


.container-inline
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center

.container *
  margin: 2px;

.wrapper
  max-width: 620px
  margin: 0 auto
  @extend .container
  padding: 60px 0px
  // @media screen and (min-width: var(--tablet))
  //   padding: 60px 0px

h1
  font-weight: 100
  font-stretch: normal
  font-size: 50px
  letter-spacing: 4px
  font-family: "Aquatico", serif

hr
  border: 0
  width: 60%
  height: 1px
  // border-top: 1px solid rgba(255,255,255,.14)
  margin: 20px auto !important

.second-divisor
  width: 20%

.video-link
  cursor: pointer

.video-link p
  // font-size: 2em
  font-weight: 100
  text-shadow: 0 1px 1px rgba(0,0,0,.4)

.button
  padding: 10px 20px
  border: 1px solid #3D4260
  border-radius: 20px
  font-weight: 700
  letter-spacing: 1px
  text-shadow: none
  text-decoration: none
  border-color: var(--main-color)
  opacity: .8
  color: var(--main-color)

.button:hover
  color: var(--main-color)
  border-color: var(--main-color)
  opacity: 1
  text-decoration: none

.button-social
  padding: 6px 8px 6px 9px
  display: inline-block
  @extend .button

 // Modals
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow-y: auto;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div
  // width: auto
  position: relative
  padding: 1em;//5px 20px 13px 20px
  background: #FFF
  border-radius: 1em;
  /* margin: auto auto 60px auto */
  /* @media screen and (min-width: var(--tablet)) */
  margin: 60px auto
  max-width: 600px

.modalDialog *
  color: #000 !important

.close
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  top: 3px;
  right: 3px;
  text-align: center;
  width: 24px;
  text-decoration: none;
  font-weight: bold;

section
  margin-bottom: 20px


@media screen and (max-width: var(--tablet))
  p
    font-size: 0.8em;

