<!-- Modal -->
<div id="pressInfo#Es" class="modalDialog">
  <div>
		<a href="#" title="Close" class="close">x</a>
    <a href="#pressInfo#En">English</a> |
    <a href="#pressInfo#De">Deutsch</a> |
    <a href="#pressInfo#Es">Español</a>
		<h2>Información de prensa</h2>
    <p>
      Desde adolescente, a mediados de los 90', Cisco Pema integró varias bandas de rock en su Argentina natal como bajista eléctrico, incursionando también en el variado mundo de la música rioplatense y sudamericana. Poco después se translada a Linz, Austria, donde culmina con éxito sus estudios en la carrera de Bajo Eléctrico en Jazz de la Anton Bruckner Universität. Inicia varias bandas de hip-hop y participa en diversos proyectos de reggae. En estos últimos años recala en Berlin, donde a fines del 2016 lanza su primer album solista “Cisco Pema”
      Con su nuevo EP "Tu casa es mi casa" Cisco nos lleva en un viaje a través de los diferentes mundos de su creación. Acompañado por sus renombrados colegas de la banda Jamaram, Cisco Pema logra capturar el colorido esplendor de sus aventuras en el estudio y expresarlas en cinco poderosas piezas.
    </p>
	</div>
</div>
