<!-- Modal -->
<div id="pressInfo#En" class="modalDialog">
  <div>
		<a href="#" title="Close" class="close">x</a>
    <a href="#pressInfo#En">English</a> |
    <a href="#pressInfo#De">Deutsch</a> |
    <a href="#pressInfo#Es">Español</a>
		<h2>Press Information</h2>
    <p>
      Cisco Pema, bassist, singer and producer from Buenos Aires/Berlin continues his solo career with a new album. After four years and more than hundred concerts in different parts of Europe, Cisco Pema presents his third album "Otra realidad". A rhythmic album with dreamy sounds and an unconventional brass section. With "Otra realidad" Pema creates a modern vision of South American music.
      On the road in a trio with Bernhard Geigl on keyboards and Christoph Stadler on drums, Pema brings a compact version of his new songs to the stage. The Viennese musicians' ability to improvise, together with Pema's dynamic style, allows for a powerful performance.
    </p>
	</div>
</div>
