<!-- Modal -->
<div id="pressInfo#Es" class="modalDialog">
  <div>
		<a href="#" title="Close" class="close">x</a>
    <a href="#pressInfo#En">English</a> |
    <a href="#pressInfo#De">Deutsch</a> |
    <a href="#pressInfo#Es">Español</a>
		<h2>Información de prensa</h2>
    <p>
      Cisco Pema, bajista, cantante y productor de Buenos Aires/Berlín, continúa su carrera solista con un nuevo álbum. Tras cuatro años y más de un centenar de conciertos en distintos puntos de Europa, Cisco Pema presenta su tercer disco "Otra realidad". Un álbum rítmico con sonidos de ensueño y una sección de metales poco convencional. Con "Otra realidad", Pema crea una visión moderna de la música sudamericana.
      En la carretera, en trío con Bernhard Geigl (teclados) y Christoph Stadler (batería), Pema lleva al escenario una versión compacta de sus nuevas canciones. La capacidad de improvisación de los músicos vieneses, junto con el estilo dinámico de Pema, se traduce en una intensa performance.
    </p>
	</div>
</div>
