<!-- Modal -->
<div id="pressInfo#De" class="modalDialog">
  <div>
		<a href="#" title="Close" class="close">x</a>
    <a href="#pressInfo#En">English</a> |
    <a href="#pressInfo#De">Deutsch</a> |
    <a href="#pressInfo#Es">Español</a>
		<h2>Presseinformationen</h2>
    <p>
      Der aus Argentinien stammende Cisco Pema fing nicht erst gestern mit der Musik an:
      er spielte mit Dreizehn in seiner ersten Rockband in Buenos Aires, tingelte mit Bossa
      Nova über den Rio de la Plata und studierte in Linz Jazzbass. Dort gründete er einige
      Hip Hop Bands und spielte in verschiedenen Reggae Projekten. Nun, wen wundert es,
      ist er im internationalen Berlin angekommen.
      Sein Debut-Album “Cisco Pema“ schöpft aus dem Vollen. Die beiden
      österreichischen Produzenten Manuel Mitterhuber und Mario Stadler haben sofort die
      Vielfältigkeit seiner Musik verstanden und seine Kompositionen mit ihm zusammen
      für das Album weiterentwickelt.
      Der zwei Meter hohe, famose und charismatische Bassist klingt dabei wie eine
      Melange aus südamerikanischem Singer/Songwriter und Berliner Elektro-Produzent
      und taucht immer wieder als Rapper auf. Dann klingt es, als würde er eine Geschichte
      auf Spanisch erzählen, die einem aber nie spanisch vorkommt, weil immer wieder
      deutsche Worte darin auftauchen.
      Beim Hören fühlt man sich wie ein Argentinier, der in einer langen Nacht durch die
      Straßen Berlins zieht, von einer Samba-Party zu einer Jazz-Session, in einen Elektro-
      Club und weiter zu einem Hip-Hop- Jam. Wer sich diese Reise nicht entgehen lassen
      will, sollte sich unbedingt “Cisco Pema“ ins Haus holen...
    </p>
	</div>
</div>
