<!-- Modal -->
<div id="pressInfo#De" class="modalDialog">
  <div>
		<a href="#" title="Close" class="close">x</a>
    <a href="#pressInfo#En">English</a> |
    <a href="#pressInfo#De">Deutsch</a> |
    <a href="#pressInfo#Es">Español</a>
		<h2>Presseinformationen</h2>
    <p>
      Cisco Pema, Bassist, Sänger und Produzent aus Buenos Aires/Berlin setzt seine Solo-Karriere mit einem neuen Album fort. Nach vier Jahren und über hundred Konzerten in verschiedenen Teilen Europas präsentiert Cisco Pema sein drittes Album “Otra realidad”. Ein rhythmisches Album mit träumerischen Sounds und einer unkonventionellen Brass-Section. Mit “Otra realidad” schafft Pema eine moderne Vision südamerikanischer Musik.
      Unterwegs im Trio mit Bernhard Geigl am Keyboard und Christoph Stadler am Schlagzeug bringt Pema eine kompakte Version seiner neuen Lieder auf die Bühne. Die Fähigkeit der Wiener Musiker zur Improvisation ermöglicht zusammen mit Pemas dynamischen Stil eine kraftvolle Performance.
    </p>
	</div>
</div>
